body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #808080;
}

h1, p {
  margin: 10px;
}
.parallax{
  display: grid;
  opacity: .8;
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("assests/tesla-landscape.jpeg");
}

.container {
  margin: 50px auto;
  display: flex;
  height: 300px;
}

.coupon {
  margin: 0 auto;
  max-width: 500px;
  border: 1.5px solid #76000e;
  text-align: center;
}
.promo {
  color: #cc0023;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
  border: 1px solid #cc0023;
  width: 100px;
  border-style: dashed;
}

.link {
  margin: 10px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #cc0023;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

button:focus {
  outline:0;
}

.link:hover {
  background: #76000e;
}

#bottom {
  color: white;
  margin: 250px 0 0px 0 ;
  opacity: 0;
  background-color: rgba(0,0,0,.6);
}

#bottom:hover {
  opacity: 1;
}

a { 
  color: inherit; 
  text-decoration: none;
  cursor: pointer;
}
